/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$link-color: black;

@import url(http://fonts.googleapis.com/css?family=Bitter:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic);

* {
  font-family: 'Source Sans Pro', sans-serif;
}
a {
  color: $link-color;
}
main {
  background: url('subtle_white_feathers.png') repeat 0 0;
}
.logo {
  font-family: 'Bitter', serif;
  text-align: center;
}
.navbar {
  margin-bottom: 0;
}
h1 {
  text-shadow: 1px 1px 1px #ccc;
}
footer {
  text-align: center;
}
.active {
  background: url('subtle_white_feathers.png') repeat 0 0;
  border-radius: 0.5em;
}
.standout {
  width: inherit;
  box-shadow: 0 0 0.2em 0.2em #ccc;
  background-color: #fbf5f9;
  border: 1px solid #bce3b5;
  padding: 15px 20px;
  margin: 20px 0;
}
.flag {
  margin-bottom: 5px;
  box-shadow: 0 0 0.05em 0.05em #ccc;
}