= link_to t('home'), root_path, {class: 'navbar-brand', id: 'home'}
= link_to t('about'), about_index_path, {class: 'navbar-brand', id: 'about'}
= link_to t('contact'), contact_index_path, {class: 'navbar-brand', id: 'contact'}