= link_to t('home'), root_path, {class: 'navbar-brand', id: 'home'}
= link_to t('history'), history_index_path, {class: 'navbar-brand', id: 'history'}
= link_to t('contact'), contact_index_path, {class: 'navbar-brand', id: 'contact'}